body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 2em;
}

/* Grid with nine cells in three rows and three columns, each 100px by 100px */
.grid-container-3x3 {
    display              : grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows   : 100px 100px 100px;
}

/*
 * No grid-column or grid-row properties are set, so the cells will be
 * placed in the order they appear in the HTML.
 */
#grid-a-cell-1 { background-color: red;    }
#grid-a-cell-2 { background-color: green;  }
#grid-a-cell-3 { background-color: blue;   }
#grid-a-cell-4 { background-color: orange; }
#grid-a-cell-5 { background-color: purple; }
#grid-a-cell-6 { background-color: pink;   }
#grid-a-cell-7 { background-color: silver; }
#grid-a-cell-8 { background-color: yellow; }
#grid-a-cell-9 { background-color: brown;  }


#grid-b-cell-1 {
    background-color: green;
    grid-column     : 1;
    grid-row        : 1;
}
#grid-b-cell-2 {
    background-color: green;
    grid-column     : 3;
    grid-row        : 1;
}
#grid-b-cell-3 {
    background-color: orange;
    grid-column     : 2;
    grid-row        : 2;
}
#grid-b-cell-4 {
    background-color: blue;
    grid-column     : 1;
    grid-row        : 3;
}
#grid-b-cell-5 {
    background-color: blue;
    grid-column     : 3;
    grid-row        : 3;
}

#grid-c-horizontal-stripe-1 {
    background-color : red;
    grid-column-start: 1;
    grid-column-end  : span 2;
    grid-row         : 1;
}
#grid-c-horizontal-stripe-2 {
    background-color : purple;
    grid-column-start: 2;
    grid-column-end  : span 2;
    grid-row         : 2;
}
#grid-c-horizontal-stripe-3 {
    background-color : silver;
    grid-column-start: 1;
    grid-column-end  : span 2;
    grid-row         : 3;
}

#grid-d-vertical-stripe-1 {
    background-color : red;
    grid-column      : 1;
    grid-row-start   : 1;
    grid-row-end     : span 2;
}
#grid-d-vertical-stripe-2 {
    background-color : purple;
    grid-column      : 2;
    grid-row-start   : 2;
    grid-row-end     : span 3;
}
#grid-d-vertical-stripe-3 {
    background-color : silver;
    grid-column      : 3;
    grid-row-start   : 1;
    grid-row-end     : span 2;
}

