
body {

    font-family: Arial, sans-serif;

    --tile-gap: 3em; /* Variable for the gap between tiles */
}


.tile-grid {

    display: grid;

    grid-template-columns: repeat( 2, 1fr ); /* Creates 2 equal-width  columns */
    grid-template-rows   : repeat( 3, 1fr ); /* Creates 3 equal-height rows    */

    column-gap: var( --tile-gap );
    row-gap   : var( --tile-gap );
    margin-top: var( --tile-gap );
}


.tile {

    background-color: lightsteelblue;
    font-weight     : bold;
    padding         : 1em;
    text-align      : center;
}

